{% for calName,calendar in calendars %}
  <form action="?view=admin" method="post">
    <b>{{ calName }}</b> {{ calendar.url }}
    <a href='?view=admin&action=delCalendar&name={{ calName }}'>Supprimer</a>
  </form>
{% endfor %}

<form action="?view=admin&action=addCalendar" method="post">
  <input type='text' id='Name' name='name' placeholder='Nom calendrier' />
  <input type='text' id='url' name='url' placeholder='Url calendrier' />
  <button type='submit'>+</button>
</form>
