  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="themes/default/js/moment.min.js"></script>
  <script src="themes/default/js/moment.fr.js"></script>
  <script src="themes/default/js/bootstrap.min.js"></script>
  <script src="themes/default/js/bootstrap-datetimepicker.min.js"></script>
  <script src="themes/default/js/default.js"></script>
</body>
</html>
