<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ pageTitle }}</title>

  <link href="themes/default/css/bootstrap.min.css" rel="stylesheet">
  <link href="themes/default/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
  <link href="themes/default/css/style.css" rel="stylesheet">
</head>
<body>
