<form class="form-inline" action="index.php?view=csvActions" method="post">
  <button class="btn btn-info btn-sm" type="submit"><span class="glyphicon glyphicon-download-alt"></span> Exporter (CSV)</button>
  <div class="form-group">
    <input type="checkbox" id="showArchived" name="archives" value="1" />
    <label for='showArchived'>Voir les actions archivées.</label>
  </div>
</form>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th class='col-md-1'>Code</th>
      <th class='col-md-3'>Intitulé</th>
      <th class='col-md-6'>Description</th>
      <th class='col-md-2'>Référent</th>
    </tr>
  </thead>
  <tbody>
    {% for code, action in actions %}
    {% if action.Visible == 1 %}
    <tr class="actual">
    {% else %}
    <tr class="archived">
    {% endif %}
      <td>{{ code }}</td>
      <td>{{ action.Intitulé }}</td>
      <td>{{ action.Description }}</td>
      <td>{{ action.Referent }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
