{% include 'twig/header.twig' %}

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="?view=">CDG</a>
    </div>

    <ul class="nav navbar-nav center-block">
      <li class="active"><a href="#actions" data-toggle="tab">Actions</a></li>
      <li><a href="#modes" data-toggle="tab">Modalités</a></li>
      <li><a href="#calendars" data-toggle="tab">Calendriers</a></li>
      <li><a href="#users" data-toggle="tab">Utilisateurs</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class='dropdown'>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true">
        </a>
        <ul class="dropdown-menu">
          <li><a href="?view=admin">{% if not connectedUser %}<span class="glyphicon glyphicon-lock" aria-hidden="true"> {% endif %}Paramètres</a></li>
          {% if connectedUser %}
          <li role="separator" class="divider"></li>
          <li><a href='?action=logout'>Déconnecter ({{ connectedUser.login }})</a></li>
          {% endif %}
        </ul>
      </li>
    </ul>

  </div>
</nav>
{% include 'twig/messages.twig' %}

<div class="container">
  <div class="tab-content">
    <div class="tab-pane active" id="actions" role="tabpanel">{% include 'twig/adminActions.twig' %}</div>
    <div class="tab-pane" id="modes" role="tabpanel">{% include 'twig/adminModes.twig' %}</div>
    <div class="tab-pane" id="calendars" role="tabpanel">{% include 'twig/adminCalendars.twig' %}</div>
    <div class="tab-pane" id="users" role="tabpanel">{% include 'twig/adminUsers.twig' %}</div>
  </div>
</div>

{% include 'twig/footer.twig' %}
