{% include 'twig/header.twig' %}

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="?view=">CDG</a>
    </div>

    <ul class="nav navbar-nav center-block">
      <li {% if active == "actions" %} class="active"{% endif %}>
        <a href="?view=adminActions">Actions</a>
      </li>
      <li {% if active == "modes" %} class="active"{% endif %}>
        <a href="?view=adminModes">Modalités</a>
      </li>
      <li {% if active == "calendars" %} class="active"{% endif %}>
        <a href="?view=adminCalendars">Calendriers</a>
      </li>
      <li {% if active == "users" %} class="active"{% endif %}>
        <a href="?view=adminUsers">Utilisateurs</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class='dropdown'>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="?view=admin">{% if not connectedUser %}<span class="glyphicon glyphicon-lock" aria-hidden="true"> {% endif %}Paramètres</a></li>
          {% if connectedUser %}
          <li role="separator" class="divider"></li>
          <li><a href='?action=logout'>Déconnecter ({{ connectedUser.login }})</a></li>
          {% endif %}
        </ul>
      </li>
    </ul>

  </div>
</nav>
{% include 'twig/messages.twig' %}

<div class="container">
  <div class="tab-content">
    {% if active == "actions" %}
      {% include 'twig/adminActions.twig' %}
    {% elseif active == "modes" %}
      {% include 'twig/adminModes.twig' %}
    {% elseif active == "calendars" %}
      {% include 'twig/adminCalendars.twig' %}
    {% elseif active == "users" %}
      {% include 'twig/adminUsers.twig' %}
    {% endif %}
  </div>
</div>

{% include 'twig/footer.twig' %}
