<!doctype html>
<html class="no-js" lang="fr">
<head>

  <meta charset="utf-8"/>
  <title>CDG : Analyseur de calendrier</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="themes/default/css/bootstrap.min.css">
  <link rel="stylesheet" href="themes/default/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="themes/default/css/datepicker.css">
  <link rel="stylesheet" href="themes/default/css/style.css">

</head>

<body>
  <div class="container-fluid">
    <ul class="nav nav-tabs" id="myTab">
      <li class="active">
        <a href="#Actions" data-toggle="tab">Liste des Actions</a>
      </li>
      <li><a href="#Modalites" data-toggle="tab">Liste des Modalites</a></li>
      <li><a href="#Executed" data-toggle="tab">Réalisé</a></li>
      <li><a href="#Statistics" data-toggle="tab">Calcul</a></li>
    </ul>

    <div id="myTabContent" class="tab-content">
      <div class="tab-pane in active" id="Actions">
        {% include 'twig/mainActions.twig' %}
      </div>

      <div class="tab-pane fade" id="Modalites">
        {% include 'twig/mainModes.twig' %}
      </div>

      <div class="tab-pane fade" id="Executed">
        {% include 'twig/mainExecuted.twig' %}
      </div>

      <div class="tab-pane fade" id="Statistics">
        {% include 'twig/mainStatistics.twig' %}
      </div>
    </div>
  </div>

  <script type="text/javascript" src="themes/default/js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="themes/default/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="themes/default/js/bootstrap-datepicker.js"></script>

  <script type="text/javascript">
    $('#showArchived').on("click", function() {
      if ($('#showArchived').is(':checked')) {
        $('tr.archived').css('display', 'table-row');
      } else {
        $('tr.archived').css('display', 'none');
      }
    });

    $('.datepicker').datepicker();
  </script>
</body>
</html>
