{% include 'twig/header.twig' %}

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CDG</a>
    </div>

      <ul class="nav navbar-nav">
        <li class="active"><a data-toggle="tab" href="#Actions">Actions</a></li>
        <li><a data-toggle="tab" href="#Modes">Modalités</a></li>
        <li><a data-toggle="tab" href="#Executed">Réalisé</a></li>
        <li><a data-toggle="tab" href="#Statistics">Calcul</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class='dropdown'>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true">
          </a>
          <ul class="dropdown-menu">
            <li><a href="?view=admin">{% if not connectedUser %}<span class="glyphicon glyphicon-lock" aria-hidden="true"> {% endif %}Paramètres</a></li>
            {% if connectedUser %}
            <li role="separator" class="divider"></li>
            <li><a href='?action=logout'>Déconnecter ({{ connectedUser.login }})</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
  </div>
</nav>
{% include 'twig/messages.twig' %}
<div class="container">
  <div class="tab-content">
    <div class="tab-pane active" id="Actions" role="tabpanel">{% include 'twig/mainActions.twig' %}</div>
    <div class="tab-pane" id="Modes" role="tabpanel">{% include 'twig/mainModes.twig' %}</div>
    <div class="tab-pane" id="Executed" role="tabpanel">{% include 'twig/mainExecuted.twig' %}</div>
    <div class="tab-pane" id="Statistics" role="tabpanel">{% include 'twig/mainStatistics.twig' %}</div>
  </div>
</div>



<script type="text/javascript">
  document.onreadystatechange = function () {
    $('#startDate').datetimepicker({
      format: 'DD-MM-YYYY'
    });
    $('#endDate').datetimepicker({
      format: 'DD-MM-YYYY'
    });
    $('#date').datetimepicker({
      format: 'DD-MM-YYYY'
    });
  };
</script>

{% include 'twig/footer.twig' %}
